<template>
  <div class="login-main">
    <img
      class="user-poster"
      src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1581748110979&di=9204380d589f9308a3b500825017d356&imgtype=0&src=http%3A%2F%2Fimg01.taopic.com%2F180617%2F267861-1P61GF02388.jpg"
    />
    <div class="title">{{ app.title }}</div>
    <ValidationObserver v-slot="{ invalid }">
      <van-tabs v-model="active">
        <van-tab title="客户通道">
          <van-cell-group title="公司信息">
            <van-field
              v-model="company.name"
              required
              input-align="right"
              label="公司名称"
              placeholder="请输入公司名称"
            />
          </van-cell-group>
          <van-cell-group title="联系方式">
            <van-field
              v-model="company.name"
              required
              type="tel"
              input-align="right"
              label="手机号码"
              placeholder="请输入联系人手机号码"
            />
            <van-field
              v-model="company.name"
              required
              center
              clearable
              input-align="right"
              label="短信验证码"
              placeholder="请输入短信验证码"
            >
              <van-button slot="button" size="small" type="primary"
                >发送验证码</van-button
              >
            </van-field>
            <van-field
              v-model="company.name"
              label="邮箱"
              placeholder="请输入电子邮箱"
              input-align="right"
            />
          </van-cell-group>
        </van-tab>
        <van-tab title="员工通道">
          <van-cell-group title="Gitea账号">
            <ValidationProvider
              name="用户名"
              rules="email"
              v-slot="{ errors }"
              class="van-cell  van-field"
            >
              <van-field
                v-model="company.name"
                required
                input-align="right"
                label="用户名"
                placeholder="请输入Gitea账号用户名"
                :error="errors && errors.length > 0"
                :error-message="errors[0]"
              />
            </ValidationProvider>
            <ValidationProvider
              name="E-mail"
              rules="email"
              v-slot="{ errors }"
              class="van-cell  van-field"
            >
              <van-field
                v-model="company.name"
                required
                input-align="right"
                label="密码"
                type="password"
                placeholder="请输入Gitea账号密码"
                :error="errors && errors.length > 0"
                :error-message="errors[0]"
              />
            </ValidationProvider>
          </van-cell-group>
        </van-tab>
      </van-tabs>
      <div class="van-hairline--bottom height-20"></div>
      <van-button type="primary" block :disabled="invalid">登录绑定</van-button>
    </ValidationObserver>
    <div class="van-hairline--top copyright" v-html="app.copyright"></div>
  </div>
</template>
<script lang="ts">
import { Component, Mixins } from "vue-property-decorator";
import { Tab, Tabs, Cell, CellGroup, Field, Button } from "vant";
import { Mixin } from "@/core/mixins/mixin";
import { ValidationObserver } from "vee-validate";

@Component({
  components: {
    [Tab.name]: Tab,
    [Tabs.name]: Tabs,
    [Cell.name]: Cell,
    [CellGroup.name]: CellGroup,
    [Field.name]: Field,
    [Button.name]: Button,
    ValidationObserver
  }
})
export default class Login extends Mixins(Mixin) {
  public active = 0;
  public company: { name: string } = { name: "" };
}
</script>
<style lang="less" scoped>
.login-main {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-image: linear-gradient(-90deg, #9ed9e466 0%, #d1dbea66 100%);
}
.title {
  position: fixed;
  width: 100vw;
  top: 20%;
  text-align: center;
  font-size: 22px;
  font-weight: 900;
  color: @gray-7;
}
</style>
