<template>
  <div>
    <router-view></router-view>
  </div>
</template>

<script lang="ts">
import { Component, Mixins } from "vue-property-decorator";
import { Initializer, Persistor } from "@/core";
import { Mixin } from "@/core/mixins/mixin";
@Component({})
export default class App extends Mixins(Mixin) {
  beforeCreate() {
    Initializer(true);
  }

  updated() {
    Persistor();
  }
}
</script>

<style lang="less">
body {
  font-size: 16px;
  background-color: #f8f8f8;
  -webkit-font-smoothing: antialiased;
}
.height-20 {
  height: 20px;
}
.copyright {
  font-size: 14px;
  text-align: center;
  padding-top: 20px;
  color: @gray-8;
}
.user {
  &-poster {
    width: 100%;
    height: 53vw;
    display: block;
  }
  &-group {
    margin-bottom: 15px;
  }
  &-links {
    padding: 15px 0;
    font-size: 12px;
    text-align: center;
    background-color: #fff;
    .van-icon {
      display: block;
      font-size: 24px;
    }
  }
}
</style>
