<template>
  <ValidationProvider
    name="E-mail"
    rules="email"
    v-slot="{ errors }"
    class="van-cell  van-field"
  >
    <van-field
      v-model="value"
      placeholder="请输入用户名"
      :error="errors && errors.length > 0"
      :error-message="errors[0]"
    />
  </ValidationProvider>
</template>
<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Field } from "vant";

@Component({
  components: { [Field.name]: Field }
})
export default class VerifiableField extends Vue {
  @Prop({ type: String }) private label!: string;

  @Prop({ type: [Number, String] }) private value!: number | string;

  @Prop({
    default: () => {
      return "text";
    }
  })
  private type!:
    | "text"
    | "tel"
    | "digit"
    | "number"
    | "textarea"
    | "password"
    | string;
}
</script>
<style lang="less" scoped></style>
