<template>
  <div>
    <div class="main" :style="style"><router-view></router-view></div>
    <van-tabbar v-model="active" :z-index="5000">
      <van-tabbar-item
        v-for="menu in MenuModule.menus"
        :key="menu.name"
        :name="menu.name"
        :icon="menu.icon"
        :info="menu.info > 0 ? menu.info : null"
        @click="menuClick(menu.to)"
      >
        {{ menu.title }}
      </van-tabbar-item>
    </van-tabbar>
  </div>
</template>

<script lang="ts">
import { Component, Mixins } from "vue-property-decorator";
import { Tabbar, TabbarItem } from "vant";
import { Mixin } from "@/core/mixins/mixin";
@Component({
  components: {
    [Tabbar.name]: Tabbar,
    [TabbarItem.name]: TabbarItem
  }
})
export default class MainLayout extends Mixins(Mixin) {
  public active = "home";

  get style() {
    return {
      paddingBottom: this.MenuModule.show ? "60px" : "10px"
    };
  }
  public menuClick(to: string) {
    this.$router.push({ path: `/${to}` });
  }
}
</script>

<style lang="less"></style>
